/*index page style */
html{
	margin: 0;
}
body{
	background-image: url("/imgs/home/himg0.jpg");
	background-size: 100%;
	background-repeat: repeat;
	margin:0;
	width: 90%;
	font-family: Arial sans-serif;
	font-size: 12px;
	color:#000;
	margin-bottom: 50px;
}
.navbar-default{
	background-color: #000033;
	color: #fff;
	font-size: 30px;
}
.navbar-brand{
	text-transform: uppercase;
	font-weight:bold;
	color:#fff;
}
/*Player styling*/
.audio-footer{
	position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}
audio{
	text-align: center;
	width: 80%;
}
#playlist{
	list-style: none;
	display: hidden;
}
#playlist li a{
	color: #000;
	text-decoration: none;
}
#playlist .current-song a{
	color:#0000cc;
}
#playlist .hide{
	display:none;
}
.footer{
	background: #000033;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding:2px;
	text-align: center;
	color: #fff;
}
#Owner{
	font-family: cursive Arial;
}

ul{
	list-style: none;
}	
ul li{
	display: inline;
	font-size: 20px;
	font-weight: bolder;
	color: #fff;
}
.tag{
	margin: auto 10px;
	border-radius: 6px;
}
.circle{
	border-radius: 30px;
	height:30px;
	width: 30px;
	line-height: 30px;
	margin:auto 3px;
	font-size: 14px;
	text-align: center;
}
.fa-twitter{
	background: #4099FF;
	color:#FFFFFF;
	padding:1px;
}
.fa-facebook{
	background: #3B5998;
	color:#FFFFFF;
	padding:1px;
}
.fa-instagram{
	background: #ded1c1;
	color:#FFFFFF;
	padding:1px;
}
.fa-youtube{
	background: #bb0000;
	color:#FFFFFF;
	padding:1px;
}
.fa-google-plus{
	background: #dd4b39;
	color:#FFFFFF;
	padding:1px;
}
/* home page syles */
h1{
	font-family: cursive, sans-serif;
	font-size: 54px;
	color:#000;
	text-align: center;
}
h2{
	text-align: center;
	font-family: cursive, sans-serif;
}
h3{
	font-family: cursive, sans-serif;
	font-weight: bolder;
	text-align: center;
}
h5{
	color:#fff;
}
.img-rounded{
	background-color: #6600ff;
	width: 300px;
	height:240px;
}
.buttonModal{
	border:none;
	border-radius:6px;
	color:#000;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 25px;
	text-align: center;
	width: 200px;
	margin-top:60px;
}
input .form-control{
	width: 80%;
	padding: 10px 15px;
	margin:8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 6px;
}
/* about page styling */
ul.tabs{
	margin:0;
	padding:0;
	float:left;
	list-style: none;
	height:45px;
	direction: ltr;
	color:#fff;
}
ul.tabs li {
  display: block;
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  margin: 0px 5px 5px 0px;
  height: 40px;
  line-height: 31px;
  border-radius: 6px;
  border-left: 5px solid #000;
  background-color: #666;
  overflow: hidden;
  position: relative;
 
}
.tabs_last{
	border-left: 1px solid #333;
}
.jumbotron{
	background-color: #000d33;
	color:#ffffff;
	font-size: 10px;
}
.tabs>li>a:hover{
	cursor:pointer;
	background: #eee;
}
img .img-thumbnail{
	border:1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}
/*Music Page styling */
.center{
	margin: 20px auto;
	width: 80%;
}
.music1{
    position:relative;
    display:inline-block;
    width: 23%;
    margin: 0;
    padding:0;
   }

.albumList li p{
	font-size: 14px;
	font-weight: lighter;
	color:#000;
	text-align: center;
}
/* Photo page */
 uib-slide img {
    bottom: 10px;
    left: 1S0px;
    cursor: pointer;
    display: block;
    border: 2px solid #fff;
    position:absolute; 
    overflow:hidden;
    text-align:center;
    overflow: hidden;
    }
uib-carousel{
	background-color: #eee;
	border-radius: 6px;
	width: 500px;
	padding:15px;
	margin: 30px 0;
}
uib-carousel img{
	width:100%;
	margin:auto;
}
.carousel-caption h4{
	color: #fff !important;
}
.thumbsShell{
	background-color: #333;
	width: 80%;
	padding: 5px;
	margin:auto;
	border-radius: 6px;
	height: 67px;
}
.thumbsWrapper{
	margin:10px auto;
	width: 70%;
}
.thumbsWrapper ul li{
	list-style: none;
	display: inline-block;
	position: relative;
	height: 50px;
	width: 70px;
}
.imageList{
	display: block;
	position: absolute;
	text-align: center;
}
.thumbwrapper{
	height: 60px;
}
/* contact Page style" */
.contact{
	font-size: 16px;
	margin-right: 20px;
}
.contactForm input{
	width:80%;
	padding:10px 10px;
	margin:5px 0;
	display: inline-block;
	border:1px solid #333;
	border-radius: 6px;
}
.contactForm label{
	color:#000;
	font-size: 20px;
}
textarea{
	width:80%;
	height:100px;
	padding:10px 12px;
	border-radius:6px;
	box-sizing: border-box;
	resize: none;
}
button.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty{
	border-color: red;
	box-shadow: 0 0 4px red;
}
/* Music page style */
.container{
	overflow: hidden;
}
.albumList{
	display: inline-block;
}

/* Video page style */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Videoplay style */
#videoDisplay {
    background-color: black;
}


/* Controlbar style */
#playerToolBar {
    background-color: #464545;
}
#playerToolBar a {
    font-size: 1.2em;
    color: #b8b8bb;
}
#playerToolBar .btn {
    border-radius:0px;
    width: 40px;
    height:40px;
}
#playerToolBar .glyphicon {
    top: -1px;
    left:-5px;
}
#playerToolBar .btn:focus {
    border: none;
    box-shadow: 0;
    outline: 0 none;
}
#videoTime {
    position: relative;
    top:3px;
    left:12px;
    font-size: 1.1em;
    color: #c0c0c0;
}


/* Overlays style */
#bigPlayButton {
    background-color: rgba(0, 0, 0, 0.78);
    width:100px;
    height:100px;
    position:absolute;
    font-size: 3.2em;
    cursor: pointer;
    text-align: center;
}
#videoTitle {
    position: absolute;
    top:0px;
    left:0px;
    font-size: 1.3em;
    color: whitesmoke;
    width:100%;
    margin:5px;
    margin-left:10px;
    text-shadow: 1px 1px #333333;
}

/* Progress bar style */
#progressMeterFull, #progressMeter {
    cursor: pointer;
    height:11px;
    margin:0;
}
#progressMeterFull {
    background-color: #5e6368;
    position: relative;
}
#progressMeter {
    background-color: #5d1f1c;
    position: absolute;
    top:0px;
    left:0px;
    width:0px;
}

#thumbScrubber {
    background-color: #b8b8bb;
    border: 1px solid #3d3d3d;
    width:15px;
    height:15px;
    border-radius: 15px;
    position:absolute;
    top:-1000px;
    left:-1000px;
    cursor: pointer;
}
#videoOptions {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#videoOptions h2 {
	font-size:25px;
	color:#c3c3c3;
}
#videoOptions li{
	cursor: pointer;
}
.ng-hide-remove{
	-webkit-animation: fadeIn 0.50s;
	animation: fadeIn 0.50s;
}
.ng-hide-add {
	-webkit-animation:fadeOut 0.75s;
	animation: fadeOut 0.75s;
	display: block !important;
}
