/*index page style */
body{
	background-image: url("/imgs/home/himg2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	margin:auto;
	width: 90%;
	font-family: Arial sans-serif;
	font-size: 12px;
}
.navbar-brand{
	text-transform: uppercase;
	font-weight:bold;
	color:#fff;
}
.footer{
	background: #333;
	position: absolute;
	right: 5px;
	bottom: 0;
	left: 5px;
	padding:2px;
	text-align: center;
}
#Owner{
	font-family: cursive Arial;
}

ul{
	list-style: none;
}	
ul li{
	display: inline;
	font-size: 20px;
	font-weight: bolder;
	color: #fff;
}
.tag{
	margin: auto 10px;
	border-radius: 6px;
}
.circle{
	border-radius: 30px;
	height:30px;
	width: 30px;
	line-height: 30px;
	margin:auto 3px;
	font-size: 14px;
	text-align: center;
}
.fa-twitter{
	background: #4099FF;
	color:#FFFFFF;
	padding:1px;
}
.fa-facebook{
	background: #3B5998;
	color:#FFFFFF;
	padding:1px;
}
.fa-instagram{
	background: #ded1c1;
	color:#FFFFFF;
	padding:1px;
}
.fa-youtube{
	background: #bb0000;
	color:#FFFFFF;
	padding:1px;
}
.fa-google-plus{
	background: #dd4b39;
	color:#FFFFFF;
	padding:1px;
}
/* home page syles */
h1{
	font-family: 'Rubik', sans-serif;
	font-size: 54px;
	color:#fff;
	text-align: center;
}
h3{
	color:#fff;
	text-align:center;
}
h5{
	color:#fff;
	text-align:center;
}
.img-rounded{
	background-color: #eee;
	width: 300px;
	height:240px;
}
/* about page styling */
ul.tabs{
	margin:0;
	padding:0;
	float:left;
	list-style: none;
	height:45px;
	direction: ltr;
	color:#fff;
}
ul.tabs li {
  display: block;
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  margin: 0px 5px 5px 0px;
  height: 40px;
  line-height: 31px;
  border-radius: 6px;
  border-left: 5px solid #ff0000;
  background-color: #000;
  overflow: hidden;
  position: relative;
}
.tabs_last{
	border-left: 1px solid #333;
}
.jumbotron{
	background-color: #737373;
	color:#000;
	font-size: 12px;
}
.tabs>li>a:hover{
	cursor:pointer;
	background: #ccc;
}
img .img-thumbnail{
	border:1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}
