<div>
	<h1><strong>{{title}}</strong></h1>
</div>
<div class="row">
	<h3 class="col-sm-4 col-sm-offset-2">Love R & B, Love Music</h3>
	<button class="colsm-2 col-sm-offset-2" data-toggle="modal" data-target="modalForm">Join Collectors</button>
</div>
<div class="row">
	<div class="col-sm-4" ng-repeat="b in band">
		<div class="thumbnail">
			<img class="img-rounded" ng-src={{b.img}} alt="destiny's child" width= "300px" height= "240px">
			<div class="caption">
				<p>{{b.caption}}</p>
			</div>
		</div>	
	</div>
</div>