<div>
	<h1><strong>{{title}}</strong></h1>
</div>
<div class="row">
	<h3 class="col-sm-4 col-sm-offset-2">Love R & B, Love Music</h3>
	<button class="colsm-2 col-sm-offset-2 buttonModal" data-toggle="modal" data-target="#{{modal1}}" ng-click="data-ng-click">Join Collectors</button>
	<modal collectorForm="modal1" modal-body="body" modal-footer="footer" modal-header="header" data-ng-click-right-button="myRightButton()"></modal>
</div>
<div class="row">
	<div class="col-sm-4" ng-repeat="b in band">
		<div class="thumbnail">
			<img class="img-rounded" ng-src={{b.img}} alt="destiny's child" width= "300px" height= "240px">
			<div class="caption">
				<p>{{b.caption}}</p>
			</div>
		</div>	
	</div>
</div>