<div>  
  <h2 class="daka">{{title1}}</h2>
</div><br>
    <div style="height: 305px">
      <uib-carousel active="activeSlide" interval="myInterval">
        <uib-slide ng-repeat="slide in slides" index="$index">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index+1}}</h4>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>

<div class = "thumbsShell">
  <div class = "thumbsWrapper"> 
    <ul class="imageList">  <!-- iterate all images and dispaly as thumbs-->
      <li ng-repeat="slide in slides" ng-class="{'active':isActive($index)}">
        <div class=thumbwrapper>
          <a href="" ng-click="showSlide($index)"></a>
          <img class="thumbnail" ng-src="{{slide.image}}" title="{{slide.id}}"/>
        </div>
      </li>
    </ul>
  </div>
</div>
