<div id="audioWrapper">
	<div id="player">
	    <audio controls="controls" id="audio-player">
	    	<source src="{{list.path}}"" type="audio/mp3"/>
	        your browser does not support HTML5 player
	    </audio></br>
	    <div class="rewind">
	        <a rel="nofollow" rel="noreferrer" id="btnPrev">&laquo;</a>
	        <a rel="nofollow" rel="noreferrer" id="btnNext">&raquo;</a>   
	    </div>
	    <br><span class="List.name">loading...</span>
	</div>
	<ul id="playlist" class="hide">
	    <li class="audio play" data-music-id="1">Brown eyes</li>
	    <li class="audio play" data-music-id="2">Say My Name</li>
	    <li class="audio play" data-music-id="3">Survivor</li>
	    <li class="audio play" data-music-id="4">Lose My breath</li>
	</ul>
</div>

		<div class="audio sticky-top">
			<audio src="" controls id="audioPlayer">
				Sorry, your browser does not support html5!
			</audio>
		</div>
		<ul id="playlist" class="hide">
			<li><source src="http://hiperload.com/s/kf4q59s8c/d.mp3" type="audio/mp3">Brown eyes</a></li>
			<li><source src="http://hiperload.com/s/cn1d32n5u/d.mp3" type="audio/mp3">Say My Name</a></li>
			<li><source src="http://hiperload.com/s/dn7g08d8o/d.mp3" type="audio/mp3">Survivor</a></li>
			<li><source src="http://hiperload.com/s/yk0c61p5r/d.mp3" type="audio/mp3">Lose My Breath</a></li>
		</ul>
